@media (max-width: 950px) {
    
    .layout {
        grid-template-areas: 
            "header header"
            "slider slider"
            "main main"
            "aside aside";
        grid-template-columns: 100%;
    }

    .layout__main {
        margin-right: 0;
    }

    .layout__aside {
        margin-top: 1rem;
    }

    .header__container--img {
        width: 100%;
    }

    .login__form-group,
    .login__submit {
        width: 65%;
    }
}